<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="H2T">
    <meta property="og:description" content="Convert static hand gesture to alphanumeric">
    <meta property="og:image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fvector%2Fcamera-lens-gm467079637-26250644&psig=AOvVaw1FxmjvKh7IbhSBA18IAQ33&ust=1627120940015000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICSo4D4-PECFQAAAAAdAAAAABAD">
    <meta property="og:url" content="">
    <meta property="og:image:secure_url" itemprop="image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fvector%2Fcamera-lens-gm467079637-26250644&psig=AOvVaw1FxmjvKh7IbhSBA18IAQ33&ust=1627120940015000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICSo4D4-PECFQAAAAAdAAAAABAD">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet'>

    <link rel="shortcut icon" type="image/svg" href="./images/favicon.png">
    <link rel="stylesheet" href="./css/style.css">

    <title>H2T - Convert hand gesture to alphanumeric</title>
</head>

<body>
    <div class="head">
        <h2 class="ml-3 head-text" onclick="theme()" style="font-family: 'Arizonia';font-weight: 1000;">H2T</h2>
    </div>

    <div class="container-fluid">
        <div class="row align-items-start">
          <div class="col-sm-7 left cont">
              <div class="img">
                <img src="./images/front.png" alt="Loading..">
              </div>
          </div>
          <div class="col-sm-5 right">
            <div class="intro">
              <h3>Introduction</h3>
              <p>
                This is website which receives hand gestures as an input and produce its corresponding alphanumeric character in readable form to aid the differently abled (deaf and dumb) people  to communicate with others.
              </p>
              <button><a href="/login">Login/signup</a></button>  
            </div>
          </div>
        </div>
    </div>

    <div class="footer">
      <div class="left-footer">
        Under the guidance of <br>
        Prof. Sreenivasa T  
      </div>
      <div class="right-footer">
        Developed by<br>
        Shashank Krishna Naik	<br>
Mihir Singh			<br>
Pratik Goswami 		<br>
Mahadeva Swamy	
      </div>
    </div>
</body>

</html>