<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="H2T">
    <meta property="og:description" content="Convert static hand gesture to alphanumeric">
    <meta property="og:image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fvector%2Fcamera-lens-gm467079637-26250644&psig=AOvVaw1FxmjvKh7IbhSBA18IAQ33&ust=1627120940015000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICSo4D4-PECFQAAAAAdAAAAABAD">
    <meta property="og:url" content="">
    <meta property="og:image:secure_url" itemprop="image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fvector%2Fcamera-lens-gm467079637-26250644&psig=AOvVaw1FxmjvKh7IbhSBA18IAQ33&ust=1627120940015000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICSo4D4-PECFQAAAAAdAAAAABAD">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet'>
    
	<link rel="shortcut icon" type="image/svg" href="./images/favicon.png">
	<link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>Login/Signup</title>
</head>
<body>
    <div class="head">
        <h2 class="ml-3" onclick="theme()" style="font-family: 'Arizonia';font-weight: 1000;">H2T</h2>
		<button><a href="/home">home</a></button>
    </div>

    <div class="login-wrap">
	<div class="login-html">
		<p id="msg"></p>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			
			<div class="sign-in-htm">
				<div class="group">
					<label for="email" class="label">Email Address</label>
					<input type="text" class="input" id="email" name="email"  placeholder="email.." >
				</div>
				<div class="group">
					<label for="password" class="label">Password</label>
					<input type="password" id="password" name="password" placeholder="password" class="input" >
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<button class="button" onclick="login(event)">Log In</button>
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="name" class="label">Username</label>
					<input id="name" type="text" class="input">
				</div>
                <div class="group">
					<label for="email2" class="label">Email Address</label>
					<input type="text" id="email2" name="email" class="input" placeholder="email.." >
				</div>
				<div class="group">
					<label for="password2" class="label">Password</label>
					<input type="password" id="password2" class="input" name="password2" placeholder="password" >
				</div>
				<div class="group">
					<label for="cpassword" class="label">Repeat Password</label>
					<input type="password" id="cpassword" class="input" name="cpassword" placeholder="Repeat password" >
				</div>
				<div class="group">
					<button class="button" onclick="signup(event)">Sign Up</button>
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer">
    shashank Krishna Naik
</div>
</body>

<script>
	function login(){
		data={
			email:$("#email").val(),
			password:$("#password").val()
		}
		if(data.email=="" || data.password=="")
			$("#msg").html('<span class="warning">Fillout the empty field</span>')
		else if(!ValidateEmail(data.email)){
			$("#msg").html('<span class="warning">invalid email</span>')
		}else{
			$.post("/login",data,(res)=>{
			if(res=='success')
				window.location ="/index"
			$("#msg").html(res)
		})
		}
	}

	function signup(){
		data={
			name:$("#name").val(),
			email:$("#email2").val(),
			password:$("#password2").val(),
			cpassword:$("#cpassword").val()
		}

		if(data.email=="" || data.password=="" || data.password == "" || data.cpassword =="")
			$("#msg").html('<span class="warning">Fillout the empty field</span>')
		else if(!ValidateEmail(data.email)){
			$("#msg").html('<span class="warning">invalid email</span>')
		}else{
			$.post("/signup",data,(res)=>{
			$("#msg").html(res)
		})
		}
	}

	function ValidateEmail(mail) {
		if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)){
			return true
		}
		return false
	}
</script>

</html>